<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do |item| %>
      <% if logged_in? %>
          <tr>
            <td>
              <%= item.id %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.email %>
            </td>
          </tr>
      <% else %>
          <tr>
            <td>
          <%= link_to 'Login', login_path %>
            </td>
            <td>
              <%= link_to 'Login', login_path %>
            </td>
            <td>
              <%= link_to 'Login', login_path %>
            </td>
          </tr>
      <% end %>

  <% end %>

</table>