<% if !flash.empty? %>
    <div id="flash">
      <% flash.keys.each do |k| %>
          <div class="<%= k %>">
            <%= flash[k] %>
          </div>
      <% end %>
    </div>
<% end %>
<%@post.each do |item| %>
    Post_id:<%= item.id%>
    User_id: <%= item.user_id %>
    *************************************
    Title: <%= item.title %>
    Body: <%= item.title %>
    <br>

<% end %>