
<h1>Listing articles</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @post.each do |article| %>
    <tr>
      <% if logged_in? %>
        <td><%= article.user.name %></td>
      <%else%>
          <td><%= link_to 'Login', login_path %></td>
      <% end %>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= link_to 'Show', posts_path(article) %></td>

    </tr>
  <% end %>
</table>